@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primaryColor: #000000;
    --primaryColorDark: #9071ec;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    color: #000000;
    background-color: #ffffff;
}

.error_content {
    text-align: center;
}